.card h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  background-color: blueviolet;
  text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 1rem;
    border: 1px solid darkmagenta;
    border-radius: 0.5rem;
    background-color: #f8f8ff;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

/* 
@media (prefers-reduced-motion: no-preference) {
    .CardIcon {
      animation: App-logo-spin infinite 3s linear;
    }
  }


@keyframes Spin-daves {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 
*/

.card .CardTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: darkmagenta;
    text-align: center;
}

.card .CardText {
    font-family: monospace;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.card .ButtonCard {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem; 
}