.header1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 6px;
  color: rgb(16, 65, 99);
  background-color: rgb(201, 227, 236);
  text-align: center;
  padding: 1rem;
}

.formularioHeader {
  align-items: center;
  padding: 3rem 7rem;
}

.mb-3 {
  max-width: 20rem;
}